/*****************************************************************************/
/* Elements
/*****************************************************************************/
html {
	font-size: 10px;
}

body {
	margin: 0;
}

#top input {
	border: 0;
	border-bottom: 1px dotted;
	border-radius: 0;
	padding: 0;
	width: 100%;
}
#top input:focus {
	border-bottom: 1px solid;
	outline: 0;
}

#top button,
#top input,
#top select {
	border-color: #333;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-size: 2rem;
	height: 4rem;
	vertical-align: top;
}

#top,
#top button,
#top input,
#top select {
	color: #333;
	font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}


/*****************************************************************************/
/* Classes
/*****************************************************************************/
.top-col {
	float: left;
}

.top-col-l {
	margin-left: -100%;
}

.top-col-m {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 22rem 0 8rem;
	width: 100%;
}

.top-col-r {
	margin-left: -20rem;
}

.map-info {
	color: #333;
	width: 24rem;
}

.map-info > h1 {
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.6rem;
	margin: 0 0 0.5rem 0;
}

.map-info > address {
	font-size: 1.4rem;
	font-style: italic;
	line-height: 1.4rem;
	margin: 1rem 0;
}

.map-info > ul {
	margin: 0;
	padding: 0;
	text-align: justify;
}
.map-info > ul > li {
	background: #EEE;
	border-radius: 3px;
	color: #555;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 1.2rem;
	margin: 1px;
	padding: 3px;
}

.map-info > a {
	color: #0060FF;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1.4rem;
	margin-top: 1rem;
	text-align: center;
	text-decoration: none;
	width: 50%;
}
.map-info > a:hover {
	color: #0000FF;
}


/*****************************************************************************/
/* Contents
/*****************************************************************************/
#top {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.333);
	font-size: 3rem;
	line-height: 4rem;
	position: fixed;
	width: 100%;
	z-index: 1;
}

#top-left select {
	width: 20rem;
}

#top-right .top-col-r {
	border: 0.1rem solid #333;
	height: 3.8rem;
}
#top-right button {
	background: #FFF;
	border: 0;
	cursor: pointer;
	height: 3.8rem;
	padding: 0;
	width: 6.6rem;
}
#top-right button:hover {
	background: #EEE;
}
#top-right button:disabled {
	background: #DDD;
}

#map {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
}

#map-inner {
	height: 100%;
}


/*****************************************************************************/
/* Queries
/*****************************************************************************/
@media (max-device-width: 767px) {
	html {
		font-size: 5px;
	}
}

@media (orientation: portrait) {
	#top {
		height: 14rem;
	}
	
	#top-left,
	#top-right {
		margin: 2rem;
		overflow: hidden;
	}
	
	#map {
		top: 14rem;
	}
}

@media (orientation: landscape) {
	#top {
		height: 8rem;
	}
	
	#top-left {
		float: left;
	}
	
	#top-right {
		float: right;
	}
	
	#top-left,
	#top-right {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		padding: 2rem;
		width: 50%;
	}
	
	#map {
		top: 8rem;
	}
}